.container

    .header-ecored
        h1 1.	Antecedentes de la investigación de mercados


    .card

        .card-body.p-5

            .jumbotron
                p La investigación de mercados tiene sus orígenes formales en las primeras décadas de 1900:

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    p.text-center
                        img(src='assets/images/pages/tema-1/tema-1.png').img-fluid